{% extends "base.html" %}

{% block title %}Добавить книгу{% endblock %}

{% block content %}
    <h1>Добавить книгу</h1>
    <form method="POST" action="{{ url_for('add_book') }}">
        <div>
            <label for="title">Название:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="description">Описание:</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div>
            <label for="year">Год:</label>
            <input type="number" id="year" name="year" required>
        </div>
        <div>
            <label for="publisher">Издатель:</label>
            <input type="text" id="publisher" name="publisher" required>
        </div>
        <div>
            <label for="author">Автор:</label>
            <input type="text" id="author" name="author" required>
        </div>
        <div>
            <label for="pages">Кол-во страниц:</label>
            <input type="number" id="pages" name="pages" required>
        </div>
        <div>
            <label for="cover_id">Обложка ID:</label>
            <input type="number" id="cover_id" name="cover_id" required>
        </div>
        <button type="submit">Добавить</button>
    </form>
{% endblock %}
